<!doctype html>
<title>The Beardgel Collective - Countdowns</title>
<link rel="shortcut icon" href="https://static.beardgel.ca/favicon.png" type="image/x-icon">
<link rel="stylesheet" href={{url_for('static', filename='pico.css' )}}>
<link rel="stylesheet" href={{url_for('static', filename='style.css' )}}>

<body>
    <nav class="container">
        <ul>
            <li><strong>The Beardgel Collective</strong> - Applications</li>
        </ul>
    </nav>
    <main class="container">
        <hgroup>
            <h1>Error</h1>
            <h2>There is an error in the countdown application.</h2>
        </hgroup>
    </main>
</body>